<img class="logo" alt="TODO Logo" src="https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/2a/9d/76/2a9d7623-f510-056b-6784-5aebf27db36a/AppIcon-0-1x_U007emarketing-0-0-85-220-0-7.png/246x0w.jpg">

<input type="text" class="todo-input" placeholder="Что нужно сделать" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">

<div class="todo-item" *ngFor="let todo of todosFiltered()" @fade>
  <div class="todo-item-left">
    <input type="checkbox" [(ngModel)]="todo.completed" (change)="doneEdit(todo)">
    <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" [ngClass]="{ 'completed' : todo.completed }" (dblclick)="editTodo(todo)">{{ todo.title }}</div>
    <ng-template #editingTodo>
      <input type="text" class="todo-item-edit" [(ngModel)]="todo.title" (blur)="doneEdit(todo)" (keyup.enter)="doneEdit(todo)" (keyup.esc)="cancelEdit(todo)"autofocus>
    </ng-template>
  </div>
  <div class="remove-item" (click)="deleteTodo(todo.id)">
    &times;
  </div>
</div>

<div class="extra-container">
  <div><label><input type="checkbox" (change)="checkAllTodos()"  [(ngModel)]="!anyRemainingModel"> Выбрать все</label></div>
  <div> осталось {{ remaining() }}</div>
</div>

<div class="extra-container">
  <div>
    <button [ngClass]="{'active': filter === 'all'}" (click)="filter='all'">Все</button>
    <button [ngClass]="{'active': filter === 'active'}" (click)="filter='active'">Активные</button>
    <button [ngClass]="{'active': filter === 'completed'}" (click)="filter='completed'">Выполненные</button>
  </div>

  <div *ngIf="atLeastOneCompleted()">
    <button (click)="clearCompleted()">Очистить</button>
  </div>

</div>
